*{
    padding:0;
    margin: 0;
}
body{
    background-color: #BEC5AD;
}

.info{
    max-width: 800px;
}

.aboutme{
    max-width: 1000px;
}

.boton{
    color:wheat;
    text-decoration: none;
}

.boton:hover {
    color:rgb(198, 141, 36);
}



.html_icon{
    color: #DD4B25;
}

.css_icon{
    color: #254BDD;

}

.bootstrap_icon{
    color: #69419A;
}

.git_icon{
    color: black;

}

.title_tecnology{
    padding-top:20px;
}

.icon_tecnology{
    font-size: 150px;
    padding: 10px;
}

.card{
    background-color: #29323b;
}

.card-title{
    padding-bottom: 10px;
}

.net{
    padding: 10px;
}

.icon_net{
    font-size: 30px;
    padding: 10px;
}